* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #0f0f0f;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.box {
  height: 50px;
  width: 50px;
  padding: 10px;
  border: 1px solid #f0f0f0;
}